/* 6 types of selectors */


/*Universal selector*/

* {
    margin: 0;
}


/*Element selector*/

h1 {
    font-size: 15;
}


/*Class selector*/

.someClass {
    background-color: black;
}


/*Identificator selector*/

#someIdentificator {
    background-color: black;
}


/*Descendant selector*/


/*Applies to "li" tag which is inside "ul" tag*/

ul li {
    background-color: black;
}


/*Applies to all "a" tags inside "p" tag which class = "first"*/

p.first a {
    background-color: black;
}


/*Applies to all "a" tags inside tag which class = "first" and that tag is descendant of "p" tag*/

p .first a {
    background-color: black;
}


/*Applies to all "a" tags inside tag which class = "first"*/

.first a {
    background-color: blanchedalmond;
}


/*Child selector*/

p>strong {
    background-color: black;
}