@import url("../flex/styles.css");
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.number-box {
    margin: 10px;
}

.grid-container-columns {
    display: inline-grid;
    grid-template-columns: auto auto;
}

body>div:nth-child(n+2) {
    margin-top: 20px;
}